<!-- Certifications Section -->
    <section id="certifications" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Certificaciones</h2>
                    <h3 class="section-subheading text-muted">Especializaciones que potencian cada resultado</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for certificate in site.certifications %}
                {% if forloop.first and forloop.length == 2 %}
                <div class="col-sm-4 col-sm-offset-2">
                {% else %}
                <div class="col-sm-4">
                {% endif %}
                    <div class="certifications-item">
                        <a href="{{ certificate.url }}" target="_blank" class="certifications-link-image" >
                            <img src="img/certifications/{{ certificate.image }}" class="img-responsive" alt="">
                        </a>
                        <a href="{{ certificate.url }}" target="_blank" >
                            <h4>{{ certificate.name }}</h4>
                        </a>
                        <h5>{{ certificate.entity }}</h5>
                        <p class="text-muted">{{ certificate.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>