 <!-- Portfolio Modals -->
 {% for project in site.projects %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ project.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ project.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ project.img }}" class="img-responsive img-centered modal-project-img" alt="{{ project.alt }}">

                            <p class="modal-description">{{ project.description }}</p>

                            <div class="modal-meta">
                                <div class="modal-meta-item">
                                    <span class="modal-meta-label"><i class="fa fa-calendar"></i> Fecha</span>
                                    <span class="modal-meta-value">{{ project.project-date }}</span>
                                </div>
                                <div class="modal-meta-item">
                                    <span class="modal-meta-label"><i class="fa fa-user"></i> Rol</span>
                                    <span class="modal-meta-value">{{ project.role }}</span>
                                </div>
                                <div class="modal-meta-item">
                                    <span class="modal-meta-label"><i class="fa fa-folder-open"></i> Categoría</span>
                                    <span class="modal-meta-value">{{ project.category }}</span>
                                </div>
                            </div>

                            <div class="modal-tech-section">
                                <p class="modal-tech-label"><i class="fa fa-code"></i> Tecnologías</p>
                                <div class="modal-tech-badges">
                                    {% for tech in project.technologies %}
                                    <span class="modal-tech-badge">{{ tech }}</span>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="modal-actions">
                                {% if project.has_project_url %}
                                <a href="{{ project.url | prepend: site.baseurl }}" class="btn btn-primary btn-modal-action btn-no-uppercase" target="_blank">
                                    <i class="fa fa-external-link"></i> Ver detalles
                                </a>
                                {% endif %}
                                {% if project.github_url %}
                                <a href="{{ project.github_url }}" class="btn btn-modal-outline btn-modal-action" target="_blank">
                                    <i class="fa fa-github"></i> GitHub
                                </a>
                                {% endif %}
                                <button type="button" class="btn btn-default btn-modal-action" data-dismiss="modal">
                                    <i class="fa fa-times"></i> Cerrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
